.Nav-Bar{
  border: black solid 3px;
 
  background-color: hsl(210, 79%, 55%);
  
  width: 100%;
  
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}

.Nav-Link {
  border: black solid 3px;
  
  color: rgb(0, 0, 0);
  
  text-decoration: none;
  font-size: larger;
  

  
}

.Search-Bar{
  border: black solid 3px;
  background: hsl(210, 79%, 55%);
  
  border-radius: 40px;
  display: flex;
  justify-content: center;
    
}


